In [1]:
import pandas as pd

In [2]:
x = [1,2,3,4,5,6,7,8,9,10]
y = [30,28,24,20,18,14,13,10,7,6]

In [3]:
df = pd.DataFrame({'x':x, 'y':y})

In [4]:
df

    x   y
0   1  30
1   2  28
2   3  24
3   4  20
4   5  18
5   6  14
6   7  13
7   8  10
8   9   7
9  10   6

y = beta0 + beta1 * x

In [5]:
df.describe()

              x          y
count  10.00000  10.000000
mean    5.50000  17.000000
std     3.02765   8.459052
min     1.00000   6.000000
25%     3.25000  10.750000
50%     5.50000  16.000000
75%     7.75000  23.000000
max    10.00000  30.000000

In [6]:
df.cov()

           x          y
x   9.166667 -25.444444
y -25.444444  71.555556

In [9]:
# beta1 = cov(x,y)/var(x)
beta1 = -25.44 / (3.02**2)
beta1

-2.7893513442392877

In [10]:
# beta0 = media(y) - beta1 *media(x)
beta0 = 17 - (-2.78*5.5)
beta0

32.29

y = 32.29 - 2.78*x

In [11]:
32.29 - 2.78*5

18.39

In [12]:
# pip install statsmodels
import statsmodels.formula.api as sm

In [13]:
reg = sm.ols(formula='y~x', data=df).fit()
print(reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.987
Model:                            OLS   Adj. R-squared:                  0.985
Method:                 Least Squares   F-statistic:                     608.9
Date:                Thu, 11 Aug 2022   Prob (F-statistic):           7.77e-09
Time:                        22:05:14   Log-Likelihood:                -13.289
No. Observations:                  10   AIC:                             30.58
Df Residuals:                       8   BIC:                             31.18
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     32.2667      0.698     46.229      0.000      30.657      33.876
x             -2.7758      0.112    -24.676      0.000      -3.035      -2.516
==============================================================================
Omnibus:                        0.006   Durbin-Watson:                   1.450
Prob(Omnibus):                  0.997   Jarque-Bera (JB):                0.181
Skew:                          -0.036   Prob(JB):                        0.913
Kurtosis:                       2.344   Cond. No.                         13.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\marco\anaconda3\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "